@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans&family=Poppins:wght@100;400&family=Ysabeau&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans&family=Poppins:wght@100;400&family=Roboto+Slab&family=Ysabeau&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;

}

header{
    width: 100%;
    height: 80px;
    background-color: #004AAD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    font-family: 'Open Sans', sans-serif;
}

.logo-header{
    font-size: 28px;
    font-weight: bold;
    color: aliceblue;
}

.hamburguer{
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: #eee;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;    
}

.nav-bar ul li a:hover,
.nav-bar ul li a.active{
    color: black;
    background: #eee;

}

@media (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}
@media (max-width: 1100px){
    header{
        padding: 0 30px;
    }
}
@media (max-width: 900px){
    .hamburguer{
        display: block;
        cursor: pointer;
    }
    .hamburguer .line{
        width: 30px;
        height: 3px;
        background: #eee;
        margin: 6px 0;
    }
    .nav-bar.active{
        height: 450px;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #004AAD;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;

    }
}
/*Fim header */

/*Apresentação*/

.container-apresentacao{
    display: block;
    margin: 0;
    padding: 0;
    background-color: #003d8d;
    height: 90%;
    width: 100%;
}

.divisoes-apresentacao{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.divisoes-apresentacao .esquerda-apresentacao{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divisoes-apresentacao .esquerda-apresentacao h1{
    font-size: 100px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 20px;

}

.divisoes-apresentacao .esquerda-apresentacao h4{
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 20px;
}

.direita-apresentacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto Slab', serif;

}
.direita-apresentacao .modal-apr{
    margin: 50px;
    width: 450px;
    height: 450px;
    background: #ffffff;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.direita-apresentacao .modal-apr .form-apr h1{
    padding: 0px 50px;
}

.direita-apresentacao .modal-apr form{
    width: 100%;
    max-width: 350px;
    padding: 2%;
}

.single-input{
    position: relative;
    margin: 30px 0;
}
.single-input label{
    position: absolute;
    bottom: 5px;
    left: 0;
    color: rgb(150,150,150);
    cursor: text;
    transition: 0.5s ease-in-out;
}

.input{
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid #ffffff;
    outline: 0;
    font-size: 20px;
    color: rgb(80,80,80);
    transition: 0.5s ease-in-out;
}

.input:focus,
.input:valid{
    border-bottom: 2px solid cornflowerblue;
}
.input:focus ~ label,
.input:valid ~ label{
    transform: translateY(-24px);
    font-size: 20px;
    color: cornflowerblue;
}

.direita-apresentacao .modal-apr form button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    background-color: #004AAD;        
}
@media (max-width: 1200px) {
    .container-apresentacao{
        display: flex;
        height: 100%;
        width: 100%;
    }
    
.divisoes-apresentacao{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.direita-apresentacao .modal-apr{
    margin: 50px;
    width: 90%;
    height: 450px;
    background: #ffffff;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
}

@media (max-width: 580px) {
    .divisoes-apresentacao .esquerda-apresentacao h1{
        font-size: 50px;       
        margin: 10px;
    }
    .divisoes-apresentacao .esquerda-apresentacao h4{
        font-size: 20px;       
        margin: 10px;
    
    }
    .direita-apresentacao .modal-apr{
        display: flex;
        justify-content: center;
        margin: 10px auto;
    }
}
@media (max-width: 580px) {

    .direita-apresentacao{
        font-size: 15px;
    }
}

/*Fim apresentação*/

/*foooter */


footer{
    background-color: #004AAD;
    padding: 50px 0;
    font-family: 'Open Sans', sans-serif;

}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #004AAD;
    background-color: white;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #ca414100;
}
.footer-col .form-sub input::placeholder{
    color: white;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #004AAD;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}
/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}